﻿/* gridview style */
.tablestyle 
{
	font-family: arial;
	font-size: 12px;
	border: solid 1px #7f7f7f;
}

.altrowstyle 
{
    background-color: #edf5ff;
}

.headerstyle th 
{
    background: url(../images/sprite.png) repeat-x 0px 0px;
    border-color: #989898 #cbcbcb #989898 #989898;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #000;
    padding: 4px 5px 4px 10px;
    text-align: center;
    vertical-align: bottom;
}  

.headerstyle th a
{
    font-weight: normal;
	text-decoration: none;
	text-align: center;
    color: #000;
	display: block;
    padding-right: 10px;
}    

.rowstyle .sortaltrow, .altrowstyle .sortaltrow 
{
    background-color: #edf5ff;
}

.rowstyle .sortrow, .altrowstyle .sortrow 
{
    background-color: #dbeaff;
}

.rowstyle td, .altrowstyle td, .footerstyle td 
{
    padding: 4px 10px 4px 10px;
    border-right: solid 1px #cbcbcb;
}

.headerstyle .sortascheader 
{
    background: url(../images/sprite.png) repeat-x 0px -100px;
}

.headerstyle .sortascheader a 
{
    background: url(../images/dt-arrow-up.png) no-repeat right 50%;
} 

.headerstyle .sortdescheader 
{
    background: url(../images/sprite.png) repeat-x 0px -100px;
}   

.headerstyle .sortdescheader a 
{
    background: url(../images/dt-arrow-dn.png) no-repeat right 50%;
} 

/* Data edit style */


table.dataEdit
{
    font-size: 12px;
    font-family:Trebuchet MS, Arial;
}
table.dataEdit tr th  
{
    text-align: right; 
    padding-right:3px;
    color:#3F529C;
}
table.dataEdit input, table.dataEdit select, table.dataEdit textarea
{
    font-size: 12px;
    font-family:Trebuchet MS, Arial;
} 

.vSummary
{
    color: Red;
} 

/* pagination style */ 
/* The following modifies the selected row in the list table */
tr.selected td
{
    background: #fdffb8;
}

/* End: Tables */
/* The following modifies the page number control which exists under the main table */
div.pager
{
    padding: 2px 6px 6px 6px;
}
span.results1
{
    float:left;
}
span.results2
{
    float:right;
}
/* The following modifies the results per page control which exists under the main table */
div.results
{
    display: inline;
    position: relative;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -1.75em;
    float:right;
}
/* Set's the appearance of the drop down control*/
.droplist
{
    padding: 0px;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: .95em;
    color: #666666;
}
/* Bottom hyperlink design*/
div.bottomhyperlink
{
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 100%;
    margin-top: -3px;
}

/* Pagination style end */

ul.vSummary
{
    
    color:Red;
}

.vSummary ul li 
{
   list-style: none;
   background: transparent url(../images/arrowR.gif) no-repeat scroll left;
   padding-left: 20px;
   line-height:14px;
   vertical-align: middle;
}

