﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h3>Website error</h3>
<p class="alert alert-error">Ops! something went wrong in the site, please close the browser and try again. We apologise for any inconvenience .</p>
</asp:Content>

