﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<p> </p>
<div class="well"> <div class="alert alert-danger"> Sorry you don't have sufficient privilege to access this page. Please contact admin. </div></div>
</asp:Content>

