﻿<%@ Control Language="C#" ClassName="admin_nav" %>

<script runat="server">

</script>

 <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         var str = location.href.toLowerCase();
         $('a').each(function () {
             if (str.indexOf(this.href.toLowerCase()) > -1) {

                 $(this).addClass("active"); //hightlight parent tab
             }
         });


     });


       
         </script>
<p> </p>
<div class="center-block yespadding">
    <a href="<%=ResolveUrl("~")%>admin/Default.aspx" class="btn btn-primary">News </a>
    <a href="<%=ResolveUrl("~")%>admin/download-links.aspx" class="btn btn-primary">Download Links </a>
    <a href="<%=ResolveUrl("~")%>admin/login-links.aspx" class="btn btn-primary">Login Links </a>
    <a href="<%=ResolveUrl("~")%>admin/countries.aspx" class="btn btn-primary">Countries </a>
    <a href="<%=ResolveUrl("~")%>admin/video-links.aspx" class="btn btn-primary">Videos </a>
    <a href="<%=ResolveUrl("~")%>admin/devices.aspx" class="btn btn-primary">Devices </a>
     <a href="<%=ResolveUrl("~")%>admin/AddSlideImage.aspx" class="btn btn-primary">Slide </a>
    

<a href="<%=ResolveUrl("~")%>admin/dialers.aspx" class="btn btn-primary">Dialers </a>
    <a href="<%=ResolveUrl("~")%>admin/footer-banner.aspx" class="btn btn-primary">Footer </a>
    <a href="<%=ResolveUrl("~")%>admin/change-password.aspx" class="btn btn-primary">Change Password </a>    
    <a href="<%=ResolveUrl("~")%>admin/ManageUsers.aspx" class="btn btn-primary">Users </a> 
        <asp:LoginStatus ID="LoginStatus1" CssClass="btn btn-success"
            runat="server" />
</div>
<div class="clearfix">
</div>
