﻿<%@ Control Language="VB" CodeFile="GridViewPager.ascx.vb" Inherits="GridViewPager" %>

<div class="form-inline"> 
<div class="pager">

    <span class="results1">
        <asp:ImageButton AlternateText="First page" ToolTip="First page" ID="ImageButtonFirst" runat="server" ImageUrl="../images/PgFirst.gif" Width="8" Height="9" CommandName="Page" CommandArgument="First" CausesValidation="false" />
        &nbsp;
        <asp:ImageButton AlternateText="Previous page" ToolTip="Previous page" ID="ImageButtonPrev" runat="server" ImageUrl="../images/PgPrev.gif" Width="5" Height="9" CommandName="Page" CommandArgument="Prev" CausesValidation="false" />
        &nbsp;
        <asp:Label ID="LabelPage" runat="server" Text="Page " AssociatedControlID="TextBoxPage" />
        <asp:TextBox ID="TextBoxPage" runat="server" Columns="5" AutoPostBack="true" ontextchanged="TextBoxPage_TextChanged" Width="20px" CssClass="droplist" />
        of
        <asp:Label ID="LabelNumberOfPages" runat="server" />
        &nbsp;
        <asp:ImageButton AlternateText="Next page" ToolTip="Next page" ID="ImageButtonNext" runat="server" ImageUrl="../images/PgNext.gif" Width="5" Height="9" CommandName="Page" CommandArgument="Next" CausesValidation="false" />
        &nbsp;
        <asp:ImageButton AlternateText="Last page" ToolTip="Last page" ID="ImageButtonLast" runat="server" ImageUrl="../images/PgLast.gif" Width="8" Height="9" CommandName="Page" CommandArgument="Last" CausesValidation="false" />
    </span>
    <span class="results2">
        <asp:Label ID="LabelRows" runat="server" Text="Results per page:" AssociatedControlID="DropDownListPageSize" />
        <asp:DropDownList ID="DropDownListPageSize" runat="server" AutoPostBack="true" CssClass="droplist dropdown-toggle" onselectedindexchanged="DropDownListPageSize_SelectedIndexChanged">
            <asp:ListItem Value="5" />
            <asp:ListItem Value="10" />
            <asp:ListItem Value="15" />
            <asp:ListItem Value="20" />
        </asp:DropDownList>
    </span> 
    
</div>
</div>